body, html {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background: url("../img/bg-main.jpg") no-repeat;
    background-size: cover;
    font-family: 'Heebo', sans-serif;
}

#hud {
    position: absolute;
    bottom: 20px;
    color: #fff121;
    display: none;
    padding-left: 20px;
}

#preloader {
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 30px;
    top: 50%;
    margin-top: -50px;
    color: #5a5a5a;
    height: 50px;
    line-height: 50px;
}

#underliner {
    height: 1px;
    background: -moz-linear-gradient(left,  rgba(128,128,128,0) 0%, rgba(128,128,128,1) 50%, rgba(128,128,128,0) 100%);
    background: -webkit-linear-gradient(left,  rgba(128,128,128,0) 0%,rgba(128,128,128,1) 50%,rgba(128,128,128,0) 100%);
    background: linear-gradient(to right,  rgba(128,128,128,0) 0%,rgba(128,128,128,1) 50%,rgba(128,128,128,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00808080', endColorstr='#00808080',GradientType=1 );
}

#glcanvas {
    position: absolute;
}

#tutor {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(255,255,255,0.8);
}

#tutor-popup {
    position: absolute;
    display: block;
    width: 600px;
    height: 380px;
    top: 15%;
    right: 50%;
    margin-right: -300px;
    background-color: rgba(255,255,255,0.5);
    padding-top: 50px;
    font-size: 20px;
    box-sizing: border-box;
    line-height: 40px;
}

#tutor-title {
    text-align: center;
    font-size: 25px;
    padding-bottom: 30px;
}

#tutor-confirm {
    float: right;
    clear: both;
    display: inline-block;
    width: 100px;
    text-align: center;
    background-color: #4c4c4c;
    margin-top: 40px;
    margin-right: 20px;
    color: #fff;
    cursor: pointer;
}

#tutor-popup span {
    display: inline-block;
}

.controls-name {
    padding-left: 40px;
    width: 250px;
}

.controls-dash {
    width: 32px;
}

#show-tutor-toggle-label {
    margin-top: 40px;
    display: inline-block;
    margin-left: 40px;
}